
@{
    Layout = null;
}


        <h2>All Photos</h2>
        <p>
            @Html.ActionLink("Add a Photo",
            "Create", "Photo")
        </p>
        @Html.Action("_PhotoGallery", "Photo")
